// fonts
$thin: lighter;
$regular:normal;
$bold:bold;
$font-family : 'Quicksand';
// colors
$white: #fff;
$border: #e4e4e4;
$black: #000;
$text: #00263D;
$light-bg: #F8F8F8;
$border-color:#f3f3f3;
$light-text-color: #adadad;
$disabled-color:#c3c3c3;
$box-shadow : 0 4px 12px rgba(199,197,197,0.5);

$primary-color:#1f1f1f;
$secondary-color: #18253f;
$tertiary-color: #f2c900;
$danger-color: #f7023f;
$disabled: #F1F1F1;

