# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/

# Model files and data
# *.pth
*.h5
*.pkl

# Environment variables
.env

# Logs
*.log

# System Files
.DS_Store
Thumbs.db 